[defaults]
inventory = tests/fixtures/inventory/healthy.yml
stdout_callback = ansible.builtin.default
callback_result_format = yaml
callback_format_pretty = false
retry_files_enabled = false
interpreter_python = auto_silent
display_args_to_stdout = false
no_target_syslog = true
inject_facts_as_vars = false
gathering = smart
fact_caching = jsonfile
fact_caching_connection = .ansible/facts
fact_caching_timeout = 86400
fact_caching_prefix = aihost_

[inventory]
cache = true

[privilege_escalation]
become = true
become_method = sudo
become_user = root
