# llama.cpp SYCL environment variables
ONEAPI_DEVICE_SELECTOR={{ llama_cpp_sycl_device_selector }}
ZE_AFFINITY_MASK={{ llama_cpp_sycl_ze_affinity_mask | default('0,1') }}
{% if llama_cpp_sycl_api_key | default(None) %}LLAMA_API_KEY={{ llama_cpp_sycl_api_key }}{% endif %}
