# llama.cpp SYCL environment variables
ONEAPI_DEVICE_SELECTOR={{ llama_cpp_sycl_device_selector | default('level_zero:0,1') }}
ZE_AFFINITY_MASK={{ llama_cpp_sycl_ze_affinity_mask | default('0,1') }}
LLAMA_SYCL_DEVICES={{ llama_cpp_sycl_devices | default('0,1') }}
LLAMA_SPLIT_MODE={{ llama_cpp_sycl_split_mode | default('layer') }}
GGML_SYCL_SPLIT_MODE=layer
GGML_SYCL_DEVICE_SELECTOR=0,1
LLAMA_TENSOR_SPLIT={{ llama_cpp_sycl_tensor_split | default('1,1') }}
LD_LIBRARY_PATH={{ llama_cpp_sycl_ld_library_path | default('/opt/intel/oneapi/compiler/latest/lib:/opt/intel/oneapi/mkl/latest/lib:/usr/local/lib:/usr/lib/x86_64-linux-gnu') }}
CL_TARGET_OPENCL_DEVICE_ENTRY=1
SYCL_PI_LEVEL_ZERO_USE_IMMEDIATE_COMMANDLISTS=1
OMP_PROC_BIND=true
OMP_PLACES=cores
{% if llama_cpp_sycl_api_key | default(None) %}LLAMA_API_KEY={{ llama_cpp_sycl_api_key }}{% endif %}
