Types: deb
URIs: {{ intel_gpu_omix_repository_url }}
Suites: {{ intel_gpu_omix_repository_suite }}
Components: {{ intel_gpu_omix_repository_components | join(' ') }}
Signed-By: {{ intel_gpu_omix_keyring_path }}
