PubkeyAuthentication yes
PasswordAuthentication {{ 'no' if ssh_disable_password_auth | bool else 'yes' }}
KbdInteractiveAuthentication {{ 'yes' if ssh_kbd_interactive_authentication | bool else 'no' }}
ChallengeResponseAuthentication no
PermitEmptyPasswords no
PermitRootLogin {{ ssh_permit_root_login }}
AllowTcpForwarding {{ 'yes' if ssh_allow_tcp_forwarding | bool else 'no' }}
AllowAgentForwarding {{ 'yes' if ssh_allow_agent_forwarding | bool else 'no' }}
X11Forwarding {{ 'yes' if ssh_x11_forwarding | bool else 'no' }}
UsePAM yes
