VAULT_BACKUP_ADDR={{ vault_snapshot_backup_vault_addr }}
VAULT_BACKUP_CA=/etc/aihost-vault-backup/credentials/vault-ca.crt
VAULT_BACKUP_ROLE_ID_FILE=/etc/aihost-vault-backup/credentials/snapshot-role-id
VAULT_BACKUP_SECRET_ID_FILE=/etc/aihost-vault-backup/credentials/snapshot-secret-id
VAULT_BACKUP_PASSPHRASE_FILE=/etc/aihost-vault-backup/credentials/backup-passphrase
VAULT_BACKUP_SMB_SHARE={{ vault_snapshot_backup_vault_share }}
VAULT_BACKUP_SMB_DIRECTORY={{ vault_snapshot_backup_share_directory }}
