# vLLM runtime environment variables
VLLM_HOST={{ vllm_xpu_host }}
VLLM_PORT={{ vllm_xpu_port }}
HF_HOME={{ vllm_xpu_model_cache_dir }}
VLLM_API_KEY={{ vllm_xpu_api_key | default("") }}
ZE_AFFINITY_MASK={{ vllm_xpu_ze_affinity_mask | default("0,1") }}
ONEAPI_DEVICE_SELECTOR={{ vllm_xpu_device_selector | default("level_zero:0,1") }}
