[Journal]
SystemMaxUse={{ base_os_journald_system_max_use }}
RuntimeMaxUse={{ base_os_journald_runtime_max_use }}
MaxFileSec={{ base_os_journald_max_file_sec }}
MaxRetentionSec={{ base_os_journald_max_retention_sec }}
