{% for log_path in base_os_logrotate_paths %}
{{ log_path }} {
    size {{ base_os_logrotate_size }}
    rotate {{ base_os_logrotate_rotate }}
    compress
    delaycompress
    missingok
    notifempty
    copytruncate
}
{% endfor %}
