ORCHESTRATOR_GATEWAY_WORKER_PORTS="{% for worker in orchestrator_gateway_workers %}{{ worker.port }} {% endfor %}"
ORCHESTRATOR_GATEWAY_DEPENDENCY_TIMEOUT_SECONDS=1200
ORCHESTRATOR_WORKER_SPECS={{ orchestrator_gateway_workers | to_json(separators=(',', ':')) }}
ORCHESTRATOR_PUBLIC_MODEL_ID=engineering/b0
ORCHESTRATOR_EVIDENCE_PATH={{ orchestrator_gateway_evidence_path }}
ORCHESTRATOR_HOST={{ orchestrator_gateway_host }}
ORCHESTRATOR_PORT={{ orchestrator_gateway_port }}
ORCHESTRATOR_ALLOW_WORKER_PINNING={{ orchestrator_gateway_allow_worker_pinning | string | lower }}
ORCHESTRATOR_SCHEDULING_MODE={{ orchestrator_gateway_scheduling_mode }}
{% if orchestrator_gateway_routes | length > 0 %}
ORCHESTRATOR_ROUTES={{ orchestrator_gateway_routes | to_json(separators=(',', ':')) }}
ORCHESTRATOR_MODEL_ALIASES={{ orchestrator_gateway_model_aliases | to_json(separators=(',', ':')) }}
{% endif %}
