{
  "vault_addr": {{ vault_platform_credentials_vault_addr | to_json }},
  "ca_cert": {{ vault_platform_credentials_ca_path | to_json }},
  "role_id_file": {{ vault_platform_credentials_role_id_path | to_json }},
  "secret_id_file": {{ vault_platform_credentials_secret_id_path | to_json }},
  "role_name": {{ vault_platform_credentials_role_name | to_json }},
  "gateway_env": {{ vault_platform_credentials_worker_specs_path | to_json }},
  "paths": {
    "gateway_client": {{ vault_platform_credentials_gateway_client_path | to_json }},
    "opencode_client": {{ vault_platform_credentials_opencode_client_path | to_json }},
    "vllm_compat": {{ vault_platform_credentials_vllm_compat_path | to_json }},
    "worker1_dir": {{ vault_platform_credentials_worker1_dir | to_json }},
    "worker2_dir": {{ vault_platform_credentials_worker2_dir | to_json }}
  }
}
